@tailwind base;
@tailwind components;
@tailwind utilities;

p > code {
  background-color: #44475a; /* atom dark background */
  font-family: Inconsolata, Monaco, Consolas, monospace;
  font-size: .875rem;
  padding: 0.1rem;
  color: #f1fa8c; /* dracula yellow */
}

p > img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* code block */
pre {
  font-size: .875rem;
  margin-bottom: 3rem;
}

/* form parts */

input[type='number'] {
  width: 90px;
  text-align: right;
}

input[type='button'],
input[type='submit'] {
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
  color: #282a36; /* dracula background */
}

form dl dt{
  width: 150px;
  padding: 10px 0;
  float: left;
  clear: both;
}

form dl dd{
  padding: 10px 0;
}

/* body {
  font-family: 'Lato', 'YakuHanJP', '"Noto Sans JP"';
} */

@layer base {
  html {
    @apply antialiased text-dclForeground bg-dclBackground;
  }
  hr {
    @apply w-24 my-2 h-px border-0 bg-dclCyan;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}